// This is an example of how to tell the app which styles to use
//
// In this case we're using styles from material-design-lite but actually we can whatever
// as long as it add styles for the classnames of the used components.
// NOTE however that we're importing the styles globally.
@import '~material-design-lite/src/layout/layout';
@import '~material-design-lite/src/grid/grid';
@import '~material-design-lite/src/card/card';
@import '~material-design-lite/src/spinner/spinner';
@import '~material-design-lite/src/typography/typography';
@import '~material-design-lite/src/button/button';
@import '~material-design-lite/src/textfield/textfield';
@import '~material-design-lite/src/typography/typography';
@import '~material-design-lite/src/palette/palette';
@import '~material-design-lite/src/shadow/shadow';

.grid-cell-description {
  @extend .mdl-typography--body-2;
  @extend .mdl-typography--text-center;
}

.example-block {
  h6 {
    text-align: center;
    margin-bottom: 8px;
  }
  & > * {
    margin: 0 auto;
    display: block;
  }
}

.demo-card-wide {
  width: 512px;
  @extend .mdl-shadow--2dp;

  & > .mdl-card__title {
    color: #fff;
    height: 176px;
    background: url('/src/examples/welcome_card.jpg') center / cover;
  }

  & > .mdl-card__menu {
    color: #fff ;
  }
}
